section.master.sessao-titulo-categorias {
    padding: 45px 0px;
    background: #f5f5f5;
    h2.titulo-sessao {
        font-family: $fonte;
        font-size: 35px;
        font-weight: 100;
        letter-spacing: 2px;
        color: #999999;
    }
}

.pager {
    display: none !important;
}
.sub {
    display: none;
}
p.searchResultsTime {
    display: none;
}

section.master.breadcrumb-site {
    padding: 8px 0px;
    .bread-crumb ul a, .bread-crumb ul li {
        color: #363636;
        text-decoration: none;
        padding: 0px 2px;
    }
    .bread-crumb ul {
        font-family: nunito;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        li::after {
            content: " / ";
            padding-left: 2px;
        }
        
    }
}

section.master.bread-Crumb {
    padding: 8px 0px;
    .bread-crumb ul a, .bread-crumb ul li {
        color: #363636;
        text-decoration: none;
        padding: 0px 2px;
    }
    .bread-crumb ul {
        font-family: nunito;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        li::after {
            content: " / ";
            padding-left: 2px;
        }
        li.last::after{
            display: none !important;
        }
    }
}

.box.produtos .main .prateleira ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li{
        box-sizing: border-box;
        margin: 10px;
    }
}
.box.produtos .main .prateleira ul li {
    &:nth-child(3n) {
        margin-right: 0px;
    }
    &:nth-child(3n+1) {
        margin-left: 0px;
    }
}

.produtos-paginas{
    .conteudo {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
    .box.filtros {
        min-width: 260px;
        padding-right: 12px;
    }
    .box.quantidade-encontrada {
        font-family: nunito;
        font-size: 12px;
    }
    .box.quantidade-encontrada {
        font-family: nunito;
        font-size: 12px;
    }
    .linha-ordens {
        padding: 0px 0px 5px 0px;
        margin: 15px 0px;
    }
    select#O {
        border: 1px solid #ccc;
        font-family: nunito;
        text-transform: lowercase;
        width: 170px;
        height: 32px;
        outline: none;
        cursor: pointer;
    }
    .linha-ordens {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
}

section.master.produtos-paginas{
    .prateleira.n3colunas > ul {
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
    }
}

.departamento .box.produtos {
    flex-grow: 1;
    .bloco-banner-departamento {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: nunito;
        border-bottom: 1px solid #e8e8e8;
        padding: 25px 35px;
        box-sizing: border-box;
        &:hover{
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+67,82c3db+100,82c3db+100,82c3db+100,82c3db+100,82c3db+100,82c3db+101 */
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 67%, #82c3db 100%, #82c3db 100%, #82c3db 100%, #82c3db 100%, #82c3db 100%, #82c3db 101%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ffffff 67%,#82c3db 100%,#82c3db 100%,#82c3db 100%,#82c3db 100%,#82c3db 100%,#82c3db 101%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ffffff 67%,#82c3db 100%,#82c3db 100%,#82c3db 100%,#82c3db 100%,#82c3db 100%,#82c3db 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#82c3db',GradientType=0 ); /* IE6-9 */
            .menu-dep{
                visibility: visible;
                transition: all .2s linear;
                -webkit-transition: all .2s linear;
                -moz-transition: all .2s linear;
                -ms-transition: all .2s linear;
                -o-transition: all .2s linear;
            }
        }
    }
    
    .bloco-banner-departamento h3 {
        font-size: 22.4px;
        text-transform: uppercase;
        font-weight: 300;
        color: #333;
    }
    
    .bloco-banner-departamento h3 span {
        font-size: 16px;
        display: block;
        line-height: 12px;
    }
    
    .bloco-banner-departamento p {
        display: block;
        margin-top: 12px;
        color: #999;
        font-weight: 300;
        font-size: 14.5px;
    }
    .menu-dep {
        visibility: hidden;
    }
    .menu-dep ul {
        list-style: none;
        text-transform: uppercase;
    }
    
    .menu-dep ul a {
        color: #ccc;
        text-decoration: none;
        border-bottom: 1px solid #eaeaea;
        font-weight: 100;
        min-width: 240px;
        padding-bottom: 10px;
        padding-left: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover{
            color: #333;
        }
    }
    
    .menu-dep ul li {
        padding: 6px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.banner-navegacao {
    width: 100%;
}

.search-single-navigator h5 {
    font-family: nunito;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
}

.search-single-navigator ul {
    list-style: none;
}

.search-single-navigator ul li a {
    font-family: nunito;
    text-decoration: none;
    color: #999;
    font-weight: 300;
    font-size: 14.75px;
    border: 1px solid #e8e8e8;
    padding: 11px;
    display: block;
    margin-bottom: 6px;
}

.search-single-navigator ul li a:hover {
    background: #0084b6;
    color: #fff;
    border-color: #0084b6;
}

.menu-navegue {
    display: none !important;
}

.search-single-navigator h4 a, .menu-departamento li a {
    font-family: nunito;
    text-decoration: none;
    color: #999;
    font-weight: 300;
    font-size: 14.75px;
    border: 1px solid #e8e8e8;
    padding: 11px;
    display: block;
    margin-bottom: 6px;
    &:hover {
        background: #0084b6;
        color: #fff;
        border-color: #0084b6;
    }
}

.search-single-navigator h3, .menu-departamento h3 {
    font-family: nunito;
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0px 7px 0px;
    display: none;
}
.menu-departamento h3, .menu-departamento ul{
    display: block !important;
    list-style: none;
    a{
        color: #363636;
        text-decoration: none;
        text-transform: capitalize;
    }
}
.search-single-navigator{
    display: block !important;
}
.search-multiple-navigator{
    display: none !important;
}
body.busca{
    .box.produtos {
        flex-grow: 2;
    }
    .busca-vazio p {
        width: 100%;
        text-align: center;
        font-family: nunito;
        font-size: 45px;
        color: #868686;
    }
}
.submenu-com-colecao .box-banner a p {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #333;
    text-decoration: none !important;
    font-family: nunito;
    font-weight: 100;
}

.submenu-com-colecao .box-banner a {
    flex-direction: column;
    text-decoration: none;
}
ul.Cor, li.filtro-ativo.Cor {
    display: flex !important;
    flex-wrap: wrap;
}
ul.Cor li {
    margin-right: 10px;
    margin-bottom: 10px;
}
ul.Cor a, li.filtro-ativo.Cor a {
    padding: 0px !important;
    margin: 0px !important;
    width: 35px !important;
    height: 35px !important;
    cursor: pointer !important;
    font-size: 0px !important;
    text-indent: -999px;
    border-radius: 100px;
}
.box.produtos {
    flex-grow: 2;
}
a.ver-filtros {
    font-family: nunito;
    font-size: 12px;
    color: #2196F3 !important;
    text-transform: lowercase !important;
}