.content .pagina-404 {
    font-family: nunito;
    display: flex;
    padding-top: 45px;
    .box.texto-404 {
        max-width: 45%;
    }
    
    .box.texto-404 h2 {
        font-size: 42px;
    }
    
    h1 {
        font-size: 30px;
        line-height: 24px;
    }
    
    p {
        margin: 20px 0px;
    }
    ul {
        list-style: none;
    }
    
    ul li {
        padding: 5px 0px;
    }
    
    ul li a {
        color: #4a83b3;
        text-decoration: none;
        font-weight: bold;
    }
}

.institucional-descricao {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-family: nunito;
}

.institucional-descricao ul h4 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}
.institucional-descricao ul {
    margin-bottom: 24px;
    list-style: none;
}
.institucional-descricao ul li {
    padding-bottom: 6px;
}
.institucional-descricao {
    .box.texto {
        padding-right: 45px;
        box-sizing: border-box;
    }
}
.institucional-descricao ul li a {
    text-decoration: none;
    color: #b1b1b1;
}
.busca-vazia{
    .box.filtros {
        display: none !important;
    }
    .box.produtos {
        width: 100%;
        text-align: center;
        font-family: nunito;
        font-size: 45px;
        color: #868686;
    }
}

.formulario label {
    display: inline-block;
    min-width: 100px;
}

.formulario .box {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

.formulario .box input {
    width: 70%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-family: nunito;
    outline: none;
}

.formulario .box select {
    width: 70%;
    height: 40px;
    box-sizing: border-box;
    outline: none;
}

textarea.mensagem {
    width: 70%;
    height: 200px;
    box-sizing: border-box;
    padding: 15px;
    outline: none;
}

.botao-envia-form {
    max-width: 83%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.botao-envia-form div {
    background: #2196F3;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 12px 30px;
}

.botao-envia-form div:hover {
    background: #1b7fce;
}

.formulario {
    margin-top: 30px;
}
