.vtexIdUI {
    border: 1px solid #4a83b3 !important;
    box-shadow: 0px 0px 20px #00000021 !important;
    border-radius: 0px !important;
    font-family: $fonte !important;
    color: #868686 !important;
    .modal-header {
        background: #4a83b3 !important;
        color: #fff !important;
    }
    .close {
        display: block !important;
        position: absolute;
        right: 0px !important;
        background: transparent !important;
        cursor: pointer;
        font-size: 30px !important;
    }
    h4.vtexIdUI-heading{
        font-family: $fonte !important;
        text-transform: uppercase;
        &::before {
            content: "Login";
            display: block;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            font-family: $fonte !important;
            text-transform: uppercase;
        }
        span {
            display: none !important;
        }
    }
    .vtexIdUI .btn-block {
        text-shadow: none !important;
        box-sizing: border-box;
        box-shadow: none !important;
        border-radius: 0px !important;
        margin: 0px !important;
    }
    .vtexIdUI .btn-block i {
        display: none !important;
    } 
    ul.vtexIdUI-providers-list li {
        button{
            font-family: $fonte;
            font-size: 15px !important;
            font-weight: bold !important;
            font-style: normal !important;
            font-stretch: normal !important;
            line-height: normal !important;
            letter-spacing: -0.2px !important;
            color: #fff !important;
            text-shadow: none !important;
            box-sizing: border-box;
            box-shadow: none !important;
            border-radius: 0px !important;
            margin: 0px !important;
            padding: 14px 15px 14px 50px !important;
            i {
                display: none !important;
            } 
        }
        margin: 0px 0px 10px 0px !important;
        button#loginWithAccessKeyBtn {
            background: #548ebc !important;
            border-color: #4a83b3;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::before{
                content: "";
                background-image: url(/arquivos/icon-tres.png);
                width: 30px;
                height: 30px;
                background-size: 100%;
                position: absolute;
                left: 15px;
            }
        }
        
        button#loginWithUserAndPasswordBtn {
            background: #548ebc !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-color: #4a83b3;
            &::before{
                content: "";
                background-image: url(/arquivos/icon-um.png);
                width: 30px;
                height: 30px;
                background-size: 100%;
                position: absolute;
                left: 15px;
            }
        }

        button#vtexIdUI-google-plus {
            background-color: #dd4b39 !important;
            background: #dd4b39 !important;
            text-align: left !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            display: none !important;
            ::before {
                content: "";
                background-image: url(/arquivos/icon-quatro.png);
                width: 30px;
                height: 30px;
                background-size: 100%;
                position: absolute;
                left: 15px;
            }
        }

        button#vtexIdUI-facebook {
            background-color: #dd4b39 !important;
            background: #dd4b39 !important;
            text-align: left !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            display: none !important;
            ::before {
                content: "";
                background-image: url(/arquivos/icon-quatro.png);
                width: 30px;
                height: 30px;
                background-size: 100%;
                position: absolute;
                left: 15px;
            }
        }

    }
    h4{
        span.vtexIdUI-heading {
            text-transform: uppercase;
        }
    }
}

.modal-footer {
    background: #f5f5f5 !important;
    border: none !important;
}
.vtexId-link, .vtexIdUI a {
    text-decoration: none !important;
    cursor: pointer !important;
    font-family: $fonte !important;
    font-size: 13px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: 0.3px !important;
    text-align: right !important;
    color: #548ebc !important;
}

button#classicLoginBtn, button#sendAccessKeyBtn, button#tryChangePswdBtn, button#confirmLoginAccessKeyBtn, button#changePswdBtn{
    background: #4a83b3 !important;
    text-transform: uppercase !important;
    border: 1px solid #4a83b3 !important;
    border-radius: 6px !important;
    background-image: linear-gradient(to left, #4a83b3, #4a83b3) !important;
    text-shadow: none !important;
    box-shadow: none !important;
    background-color: linear-gradient(to left, #4a83b3, #4a83b3) !important;
    padding: 0px 45px !important;
    height: 40px;
    line-height: 40px;
    &:hover{
        background: #4a83b3 !important;
    }
    &:hover, &:focus, &:active{
        border-radius: 6px !important;
        background-image: linear-gradient(to left, #4a83b3, #4a83b3) !important;
        border: 1px solid #4a83b3 !important;
        text-shadow: none !important;
        box-shadow: none !important;
        background-color: linear-gradient(to left, #4a83b3, #4a83b3) !important;
        text-transform: uppercase !important;
        padding: 0px 45px !important;
    }
}

.vtexIdUI-header.row-fluid span, .vtexIdUI-header.row-fluid i {
    color: #fff !important;
}

.vtexIdUI .vtexid-icon-lock.bottom-icon {
    color: #ffffff !important;
    background: #4a83b3 !important;
    padding: 4px 5px 2px 8px !important;
    border-radius: 8px 0 2px 0 !important;
    z-index: 999 !important;
}
.vtexIdUI .modal-body {
    max-width: 92%;
}