$corBotao: #000;

.master{width:100%;margin:0px auto;min-height:1px;}body.client-orders .int{max-width:1280px;width:100%;margin:0px auto; background: transparent !important;}body.client-orders .header-client h3{display:none}.f4.gray.tc span{font-size:18px}.header-client{    padding: 25px 0 5px 10px;
    font-family: $fonte;
    text-align: left;}.header-client h2{padding:10px 0;font-size:2em;text-transform:uppercase}.header-client h2 span{display: inline-block;
    margin-bottom: 20px;
    font-family: $fonte;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    
    letter-spacing: normal;
    text-align: center;
    color: #000000;}.header-client h3{font-weight:normal;padding:20px 0 25px;font-family: $fonte,sans-serif;font-size: 2rem;line-height: 1.6;color: #fff;}.header-client p{padding:0px 0px 40px 0px;font-family: $fonte,sans-serif;font-size: 14px;line-height: 1.5;color: #696969;max-width: 100%;}.col33A{
        width: 31.33%;
        margin: 0 1%;
        padding-bottom: 10px;
        border: 1px solid #548ebc !important;
        min-height: 400px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: $fonte;
        background: #fff;}.edit-client{padding-bottom:50px;font-family:$fonte,sans-serif;display: flex;flex-wrap:  wrap;}.edit-client h4{    padding: 15px 0 15px 65px;
        background-color: #548ebc !important;
        font-family: $fonte;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #ffffff;}.client-dados h4{background:url(/arquivos/icon-loginUser.png) no-repeat 20px center;}.client-address h4{background:url(/arquivos/icon-enderecos2.png) no-repeat 20px center}.client-order h4{background:url(/arquivos/icon-cart.png) no-repeat 20px center;background-size:7%}.profile-detail-display h4,.address-display-block h4{display:none}.profile-detail-display{display:block;padding:85px 20px 0 20px;position:relative}.edit-profile-link{position:absolute;top:0;width:80%}.edit-profile-link a,.new-address-link a,.order-link a{display: block;
            border-radius: 4px;
            padding: 12px 0;
            margin: 20px 0;
            font-family: $fonte;
            font-size: 14px;
            line-height: 1.5;
            color: #000000;
            font-weight:  bold;}.profile-detail-display-email,.profile-detail-display h5{font-size:15px;padding:4px 10px;color: #000;font-weight: 300;}.profile-detail-display-email{}.profile-detail-display-info{padding:20px 0 0 10px;font-family: $fonte,sans-serif;font-size: 12px;line-height: 1.58;color: #000000;}.profile-detail-display-info span.title{font-weight:bold}main#gcontent{width:100%;padding-bottom:40px;max-width: 1024px;/* clear: both; */margin: 0px auto;/* position:  relative; */}.new-address-link,.order-link{display:block;padding:0 20px}.new-address-link a,.order-link a{width:90%}.address-display-unit{display:none;position:relative;padding:10px 30px 70px;font-family: $fonte,sans-serif;font-size: 14px;line-height: 1.5;color: #000000;}.address-display a.item{display:block;padding:16px 30px;font-size:16px;color: #fff;background:#eee url(/arquivos/gt-setas-client.png) no-repeat 96% 0;}.address-display a.item:hover{background-color:#ddd}.address-display .ativo a.item{background-color: #fff;background-position:96% -50px;}.edit-address-link{position:absolute;bottom:35px;overflow:hidden;color:#fff;font-size:0}.edit-address-link a{display:block;float:left;border-radius:4px;padding:6px 30px;color: #fff;font-weight:bold;font-size:14px;margin-right:5px;}.edit-address-link a.address-update{background: #0C4158;border-bottom: 3px solid #0C4158;}.edit-address-link a.address-update:hover{background: #0C4158;}.edit-address-link a.delete{background: #eaeaea;border-bottom: 3px solid #d7d7d7;}.edit-address-link a.delete:hover{background: #d9d9d9;}.address-display-unit-info{padding-bottom:20px;color: #fff;font-size:13px;line-height:18px;}.txt-order{padding:0 30px;font-family: $fonte,sans-serif;font-size: 14px;line-height: 1.5;color: #000000;}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:99999;background-color:#fff;opacity:.8;filter:alpha(opacity=80)}.modal{position:absolute;left:50%;top:50px;background:#fff;z-index:999999;width:600px;padding:30px;margin-left:-328px;border:1px solid #ddd;display:none;outline:none}.modal-header h3{display:none}.modal-header .close{
                cursor: pointer;
                width: 32px;
                height: 32px;
                position: absolute;
                right: 5px;
                top: 5px;
                display: block;
                font-size: 30px;
                border: none;
                background-repeat: no-repeat;
                background-color: #e8e8e8 !important;
                line-height: 30px;
                outline: none;
            }.modal .row{overflow:hidden;clear:both;width:100%;margin-bottom:20px}.modal h5{padding:10px 0;margin-bottom:20px;border-bottom:1px solid #ddd;text-transform:uppercase;font-size:15px}.modal .control-group{float:left;width:50%;margin:0 0 15px 0}.modal .control-group label{display:block;font-size:14px;color:#999;padding:0; line-height: 26px;}.modal input[type="text"],.modal select,.modal textarea{width:80%;border-radius:2px;border:1px solid #ccc;padding:10px 2%}.modal input[type="text"]:focus,.modal textarea:focus{background:#eee}.modal #business-toggle{color:#999;text-decoration:underline}.modal h4{display:block !important;text-align:center;font-size:18px;color:#999;padding:20px 0 !important;border:none !important;background:none !important}.modal-footer button{display:none}.modal-footer .btn{color:#fff;border:none;padding:15px 0;width:280px;margin-top:15px;border-radius:4px;background:#1284B5;color:#fff;border-bottom:#1284B5;text-transform:uppercase;font-size:18px;cursor:pointer}.modal-footer .btn:hover{background:#232c50}body.my-order .page-header,.gt-custom legend{display:none !important}.gt-custom *{line-height:1 !important;font-style:normal;font-weight:400}.gt-custom ul{margin:0}.gt-custom a{text-decoration:none !important}.gt-custom img{max-width:none !important}.container{width:100% !important}.gt-custom input[type="text"]{box-shadow:none !important;margin-bottom:0 !important;height:auto !important}.gt-custom .search .fulltext-search-box{font-family:$fonte}.myorders .page-header{display:none !important}.gt-custom p{margin-bottom:0 !important}.gt-custom a{text-decoration:none !important}.gt-custom #newsletterClientName{display:none !important}.gt-custom .newsletter-button-ok{width:86px !important}.gt-custom #newsletterClientEmail{border:none !important;padding:13px 5% 13px 0 !important;font-size:13px !important;color:#999 !important;height:14px !important}@media only screen and (max-width: 740px){.col33A{float:none;clear:both;width:100%;margin:0 0 20px;box-shadow:none;border:1px solid #ccc}.modal{width:85%;left:5%;top:10px;margin-left:-1px;border:1px solid #ccc;padding:10px 2.5%}.edit-address-link a{padding:6px 15px}}@media only screen and (max-width: 620px){.header-client h3{font-size:30px;padding:25px 0 15px}.header-client p{padding:6px 0;font-size:17px;max-width: 100%;}.header-client{padding-bottom:45px}.modal .control-group{float:none;clear:both;width:100%}.modal input[type="text"],.modal select,.modal textarea{width:94%}}.fulltext-search-box{padding:5px;height:26px;width:330px;outline:none;}h1{margin:initial !important}article.myo-order-card.w-100.mv4.ba.br3.br--top.overflow-hidden.b--black-20{border-radius:initial !important}span.db.pv1.link.no-underline{color:#000 !important;text-decoration:underline}a.underline::before{display:none}img.mw4-ns{max-width:75px}body.client-orders .page-header{display:none !important}body.client-orders .vtex-bootstrap .page-header h1{display:none !important}body.client-orders .vtex-bootstrap .container{width:auto}body.client-orders .vtex-bootstrap .heavier-blue{color: #000;font-family:$fonte,sans-serif;}body.client-orders .vtex-bootstrap,body.orders .vtex-bootstrap .helvetica{font-family:'regular', sans-serif}body.client-orders .vtex-bootstrap .tracked-mega{letter-spacing:normal}body.client-orders .vtex-bootstrap h2,body.orders .vtex-bootstrap h3,body.orders .vtex-bootstrap h4,body.orders .vtex-bootstrap h5,body.orders .vtex-bootstrap strong,body.orders .vtex-bootstrap b,body.orders .vtex-bootstrap th{font-weight:normal;font-family:"bold",sans-serif;color: #000 !important;}body.client-orders .bg-near-white{background:#000}body.client-orders button.bg-near-white,body.client-orders button.bg-white,body.client-orders .b--black-20,body.client-orders a.myo-cancel-btn{border-color:#000}body.client-orders .gt-cont ul{margin:0}body.client-orders .gt-cont li{line-height:1;text-decoration:none}body.client-orders .gt-cont em{font-style:normal}body.client-orders .gt-cont p,body.client-orders .header-client *{margin:0;line-height:1;font-weight:normal}body.client-orders .gt-cont input[type="text"]{line-height:1;box-shadow:none}body.client-orders .gt-cont button,body.orders .gt-cont li{line-height:1}body.client-orders .gt-cont a{color:#292018}body.client-orders .gt-cont a:hover{text-decoration:none}body.client-orders .gt-cont fieldset.busca select,body.client-orders .gt-cont legend,body.client-orders .gt-cont fieldset.busca label{display:none}.all-account .tpl-1+.tpl-1{position:initial}@media only screen and (max-width: 740px){.col33A{float:none;clear:both;width: 95%;margin: 0px auto;box-shadow:none;border: none;}.txt-order br{display:none}.modal{width:85%;left:5%;top:10px;margin-left:-1px;border:1px solid #ccc;padding:10px 2.5%}.edit-address-link a{padding:6px 15px}}@media only screen and (max-width: 620px){.header-client{padding: 20px;box-sizing:  border-box;}.modal .control-group{float:none;clear:both;width:100%}.modal input[type="text"],.modal select,.modal textarea{width:94%}body .vtex-bootstrap .alert{width:auto;text-align:center;line-height:1.4}}.myo-order-header.cf.w-100.pa3.ph4-ns.bb.b--black-20.bg-near-white.o-100{color:#fff !important}.myo-order-header.cf.w-100.pa3.ph4-ns.bb.b--black-20.bg-near-white.o-100 span{color:#fff !important}button.bg-near-white.fw5.ba.br2.pv2.ph3.br--left span{color:#fff}.dib.br2.pv1.ph2.f7.fw5.black-70.tc.bg-light-yellow{background:#fff;padding:11px;color:#000 !important;margin-top:10px}.dib.br2.pv1.ph2.f7.fw5.black-70.tc.bg-light-yellow span{color:#000 !important}span.db.pv1{color:#fff}button.bg-near-white.fw5.ba.br2.pv2.ph3.bl-0.br--right{color:#fff}.w-70.center.ba.b--black-20.bg-near-white.pa3.tc.br3.mv4{background: #111;color: #000 !important;border: 1px solid #000;}body.client-orders{font-family:$fonte !important}.myo-order-product.w-100.pb2.pt2.overflow-y-hidden{font-family:$fonte !important}.dn.db-l.mb2.mb0-l.tr.f7.f6-l.fw4.mid-gray{color:#fff}.v-top.dib.w-20.h-auto img{width:75px}.aspect-ratio{height:0;position:relative}.aspect-ratio--16x9{padding-bottom:56.25%}.aspect-ratio--9x16{padding-bottom:177.77%}.aspect-ratio--4x3{padding-bottom:75%}.aspect-ratio--3x4{padding-bottom:133.33%}.aspect-ratio--6x4{padding-bottom:66.6%}.aspect-ratio--4x6{padding-bottom:150%}.aspect-ratio--8x5{padding-bottom:62.5%}.aspect-ratio--5x8{padding-bottom:160%}.aspect-ratio--7x5{padding-bottom:71.42%}.aspect-ratio--5x7{padding-bottom:140%}.aspect-ratio--1x1{padding-bottom:100%}.aspect-ratio--object{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;z-index:100}.cover{background-size:cover !important}.contain{background-size:contain !important}.bg-center{background-position:50%}.bg-center,.bg-top{background-repeat:no-repeat}.bg-top{background-position:top}.bg-right{background-position:100%}.bg-bottom,.bg-right{background-repeat:no-repeat}.bg-bottom{background-position:bottom}.bg-left{background-repeat:no-repeat;background-position:0}.outline{outline:1px solid}.outline-transparent{outline:1px solid transparent}.outline-0{outline:0}.ba{border-style:solid;border-width:1px}.bt{border-top-style:solid;border-top-width:1px}.br{border-right-style:solid;border-right-width:1px}.bb{border-bottom-style:solid;border-bottom-width:1px}.bl{border-left-style:solid;border-left-width:1px}.bn{border-style:none;border-width:0}.b--black{border-color:#000}.b--near-black{border-color:#111}.b--dark-gray{border-color:#333}.b--mid-gray{border-color:#555}.b--gray{border-color:#777}.b--silver{border-color:#999}.b--light-silver{border-color:#aaa}.b--moon-gray{border-color:#ccc}.b--light-gray{border-color:#eee}.b--near-white{border-color:#f4f4f4}.b--white{border-color:#fff}.b--white-90{border-color:rgba(255,255,255,0.9)}.b--white-80{border-color:rgba(255,255,255,0.8)}.b--white-70{border-color:rgba(255,255,255,0.7)}.b--white-60{border-color:rgba(255,255,255,0.6)}.b--white-50{border-color:rgba(255,255,255,0.5)}.b--white-40{border-color:rgba(255,255,255,0.4)}.b--white-30{border-color:rgba(255,255,255,0.3)}.b--white-20{border-color:rgba(255,255,255,0.2)}.b--white-10{border-color:rgba(255,255,255,0.1)}.b--white-05{border-color:rgba(255,255,255,0.05)}.b--white-025{border-color:rgba(255,255,255,0.025)}.b--white-0125{border-color:rgba(255,255,255,0.0125)}.b--black-90{border-color:rgba(0,0,0,0.9)}.b--black-80{border-color:rgba(0,0,0,0.8)}.b--black-70{border-color:rgba(0,0,0,0.7)}.b--black-60{border-color:rgba(0,0,0,0.6)}.b--black-50{border-color:rgba(0,0,0,0.5)}.b--black-40{border-color:rgba(0,0,0,0.4)}.b--black-30{border-color:rgba(0,0,0,0.3)}.b--black-20{border-color:rgba(0,0,0,0.2)}.b--black-10{border-color:rgba(0,0,0,0.1)}.b--black-05{border-color:rgba(0,0,0,0.05)}.b--black-025{border-color:rgba(0,0,0,0.025)}.b--black-0125{border-color:rgba(0,0,0,0.0125)}.b--dark-red{border-color:#e7040f}.b--red{border-color:#ff4136}.b--light-red{border-color:#ff725c}.b--orange{border-color:#ff6300}.b--gold{border-color:#ffb700}.b--yellow{border-color:gold}.b--light-yellow{border-color:#fbf1a9}.b--purple{border-color:#5e2ca5}.b--light-purple{border-color:#a463f2}.b--dark-pink{border-color:#d5008f}.b--hot-pink{border-color:#ff41b4}.b--pink{border-color:#ff80cc}.b--light-pink{border-color:#ffa3d7}.b--dark-green{border-color:#137752}.b--green{border-color:#19a974}.b--light-green{border-color:#9eebcf}.b--navy{border-color:#001b44}.b--dark-blue{border-color:#00449e}.b--blue{border-color:#357edd}.b--light-blue{border-color:#96ccff}.b--lightest-blue{border-color:#cdecff}.b--washed-blue{border-color:#f6fffe}.b--washed-green{border-color:#e8fdf5}.b--washed-yellow{border-color:#fffceb}.b--washed-red{border-color:#ffdfdf}.b--transparent{border-color:transparent}.b--inherit{border-color:inherit}.br0{border-radius:0}.br1{border-radius:.125rem}.br2{border-radius:.25rem}.br3{border-radius:.5rem}.br4{border-radius:1rem}.br-100{border-radius:100%}.br-pill{border-radius:9999px}.br--bottom{border-top-left-radius:0;border-top-right-radius:0}.br--top{border-bottom-right-radius:0}.br--right,.br--top{border-bottom-left-radius:0}.br--right{border-top-left-radius:0}.br--left{border-top-right-radius:0;border-bottom-right-radius:0}.b--dotted{border-style:dotted}.b--dashed{border-style:dashed}.b--solid{border-style:solid}.b--none{border-style:none}.bw0{border-width:0}.bw1{border-width:.125rem}.bw2{border-width:.25rem}.bw3{border-width:.5rem}.bw4{border-width:1rem}.bw5{border-width:2rem}.bt-0{border-top-width:0}.br-0{border-right-width:0}.bb-0{border-bottom-width:0}.bl-0{border-left-width:0}.shadow-1{box-shadow:0 0 4px 2px rgba(0,0,0,0.2)}.shadow-2{box-shadow:0 0 8px 2px rgba(0,0,0,0.2)}.shadow-3{box-shadow:2px 2px 4px 2px rgba(0,0,0,0.2)}.shadow-4{box-shadow:2px 2px 8px 0 rgba(0,0,0,0.2)}.shadow-5{box-shadow:4px 4px 8px 0 rgba(0,0,0,0.2)}.pre{overflow-x:auto;overflow-y:hidden;overflow:scroll}.top-0{top:0}.right-0{right:0}.bottom-0{bottom:0}.left-0{left:0}.top-1{top:1rem}.right-1{right:1rem}.bottom-1{bottom:1rem}.left-1{left:1rem}.top-2{top:2rem}.right-2{right:2rem}.bottom-2{bottom:2rem}.left-2{left:2rem}.top--1{top:-1rem}.right--1{right:-1rem}.bottom--1{bottom:-1rem}.left--1{left:-1rem}.top--2{top:-2rem}.right--2{right:-2rem}.bottom--2{bottom:-2rem}.left--2{left:-2rem}.absolute--fill{top:0;right:0;bottom:0;left:0}.cf:after,.cf:before{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}.cl{clear:left}.cr{clear:right}.cb{clear:both}.cn{clear:none}.dn{display:none}.di{display:inline}.db{display:block}.dib{display:inline-block}.dit{display:inline-table}.dt{display:table}.dtc{display:table-cell}.dt-row{display:table-row}.dt-row-group{display:table-row-group}.dt-column{display:table-column}.dt-column-group{display:table-column-group}.dt--fixed{table-layout:fixed;width:100%}.flex{display:-webkit-box;display:-ms-flexbox;display:flex}.inline-flex{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex}.flex-auto{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;min-width:0;min-height:0}.flex-none{-webkit-box-flex:0;-ms-flex:none;flex:none}.flex-column{-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column}.flex-column,.flex-row{-webkit-box-direction:normal}.flex-row{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row}.flex-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}.flex-column-reverse{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}.flex-row-reverse{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.flex-wrap-reverse{-ms-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse}.items-start{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.items-end{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.items-center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.items-baseline{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}.items-stretch{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}.self-start{-ms-flex-item-align:start;align-self:flex-start}.self-end{-ms-flex-item-align:end;align-self:flex-end}.self-center{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.self-baseline{-ms-flex-item-align:baseline;align-self:baseline}.self-stretch{-ms-flex-item-align:stretch;-ms-grid-row-align:stretch;align-self:stretch}.justify-start{-webkit-box-pack:start;-ms-flex-pack:start}div#gcontent{/* float:left; */width:100%;}.client-orders span.icon-cart{display: none !important;}.client-orders p.valorCarrinho{display: none !important;}.client-orders .miniC{display: none !important;}
@media(max-width: 600px){
	section.master.links-institucionais {
	    min-height: 769px;
	}
}
section.master.headerMaster {
    min-height: 78px;
}
.myo-order-header, .b--black-20 {
    background: #548ebc !important;
    border: 1px solid #548ebc !important;
}
body.client-orders button.bg-near-white, body.client-orders button.bg-white, body.client-orders .b--black-20, body.client-orders a.myo-cancel-btn {
    border: 1px solid #548ebc !important
}
button[aria-pressed="false"] {
    background: #eaeaea !important;
}
section.pa3.ba.b--black-10.br2.h4-plus.overflow-y-scroll.bg-white {
    color: #fff !important;
    border: 1px solid #000;
}
.w-100.pv4.fl {
    color: #000000 !important;
    border: 1px solid #000;
    padding: 0px 7px;
}
.acessoInfo .fontnormal{
	width: 140px !important;
}
h1.f4.gray.tc.ttn {
    color: #fff !important;
    text-transform:  uppercase;
}
section.pa3.ba.b--black-10.br2.overflow-y-scroll.bg-white.h4-plus {
    color: #000 !important;
}
.myo-progress-bar.w-100.h4-plus.pb5.pr3.pl3.fl.b--black-10.br2.ba {
    margin-bottom: 26px;
}
section.master.banneroverlay {
    min-height: 25px;
}
div#gcontent {
    display: flex;
}

time.mid-gray {
    color: #000 !important;
}
/*media all*/
div#gcontent {
    /* float: left; */
    width: 100%;
    margin-bottom: 50px;
}
.dib.f6.fw4.mid-gray.w-60 {
    color: #000 !important;
}
.dib.fl.f6.fw5.mid-gray.w-50 {
    color: #000 !important;
}
.dib.f6.fw4.mid-gray.w-40.tr {
    color: #000 !important;
}
.dib.fr.f6.fw5.mid-gray.w-50.tr {
    color: #000 !important;
}
.bg-light-blue {
    background: #eaeaea !important;
}
.dib.br2.pv1.ph2.f7.fw5.black-70.tc.bg-light-yellow {
    background: #eaeaea !important;
}
// svg path {
//     fill: #000000 !important;
// }
h3.mid-gray{
    color: #000 !important;
}
.address-display-unit-info {
    color: #fff !important;
}
span.light-gray.myo-progress-bar__text {
    color: #888;
}
.myo-progress-bar__title-font.mid-gray.mt1.mb3.tracked-mega.lh-solid.ttu.f6.pt3 {
    color: #000;
}
span.mid-gray.myo-progress-bar__text {
    color: #333 !important;
}
span.myo-progress-bar__text.mid-gray.b {
    color: #000;
}
.address-display a.item {
    color: #fff !important;
}
.header-client h3 {
    color: #000 !important;
}
section.header-loja {
    position:  relative !important;
}
.client-orders section.line.header-client {
    text-align:  center;
}
.grow:focus, .grow:hover{
    transform: initial !important;
}
.client-account{
    .modal-footer{
        background: transparent !important;
    }
}
.mid-gray {
    color: #fff;
}
a.myo-cancel-btn.light-red.hover-red.pa0.bg-transparent.bn.cf.db.link.tl.w5.f6.fw4.flex.items-center.mb3 {
    padding: 0px 0px;
    border: none !important;
}

body.client-orders .bg-near-white {
    background: #548ebb;
    border: 1px solid #548ebb;
}