@media(max-width: 900px){
    .sessao-banners-linha .conteudo {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .sessao-banners-linha .conteudo .box {
        width: 100%;
        max-width: 33%;
    }
    .sessao-banners-linha .conteudo img {
        height: 100%;
    }
    section.master.destaques .slick-slide img {
        height: 100%;
    }
    section.master.banner-de-linha-footer img {
        height: 100%;
    }
    section.banner-de-linha-footer{
        margin-bottom: 10px !important;
    }
}

@media(max-width: 720px){
    .newsletter-site {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .newsletter-site input {
        margin-bottom: 5px;
        width: 90% !important;
    }
    .newsletter-site h3 {
        margin-bottom: 10px;
    }
    .footer-insitucional {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-insitucional .box {
        margin-bottom: 20px;
    }
    .footer-insitucional aside h4, .footer-insitucional nav h4 {
        padding-left: 0px;
        border: none;
    }
    .footer-insitucional aside ul, .footer-insitucional nav ul {
        padding-left: 0px;
    }
    section.master .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .copyright .box {
        margin-bottom: 20px;
    }
    
    .copyright .content .pagamentos, .copyright .content .selos-seguranca, .copyright .content .info {
        flex-direction: column;
    }
    
    .copyright .content .pagamentos p, .copyright .content .selos-seguranca p, .copyright .content .info p {
        min-width: 200px;
        text-align: center;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    header.header-site .logo-loja a {
        position: inherit;
        left: inherit;
        top: inherit;
    }
    
    header.fixed.header-site section.master .content {
        flex-direction: row !important;
        display: flex;
        justify-content: space-between !important;
    }
    
    header.header-site .menu-loja {
        border: none;
        padding: inherit;
    }
    
    header.header-site .acesso-loja {
        margin: inherit;
    }
    
    header.header-site .menu > ul > li {
        padding-bottom: inherit;
    }

    body {
        overflow-x: hidden;
        margin-top: 66px;
    }

    section.master.sessao-banners-linha .title-sessao {
        padding: 0px 0px 10px 0px;
    }

    header.fixed.header-site {
        padding: 6px 0px;
    }

    li.menu-hamburguer i {
        font-size: 21px;
    }
    .sessao-banners-linha .conteudo .box{
        max-width: 50% !important;
    }
    header.header-site .acesso-loja .busca.active {
        position: fixed;
        top: 65px;
        width: 100% !important;
        left: 0px;
    }
    .resultado{
        width: 100% !important;
    }
    header.header-site .acesso-loja .busca input.busca-frame {
        height: 42px;
    }
    .icon-carrinho .carrinho-interno {
        position: fixed;
        right: 0px;
        top: 65px;
        max-width: 100%;
    }
    section.master.sessao-titulo-categorias h2.titulo-sessao {
        text-align: center;
    }
    
    .busca-vazio p {
        font-size: 24px;
    }
    .icon-carrinho .carrinho-interno .fechar-carrinho {
        top: -50px;
        right: 10px;
        padding: 4px 6px;
    }
    .produtos-paginas .conteudo {
        flex-direction: column;
    }
    
    .produtos-paginas .box.filtros {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 12px;
    }
    
    .departamento .box.produtos .bloco-banner-departamento {
        flex-direction: column;
    }
    
    section.master.bread-Crumb .bread-crumb ul a, section.master.bread-Crumb .bread-crumb ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px;
        box-sizing: border-box;
    }
    
    section.master.bread-Crumb .bread-crumb ul {
        flex-wrap: wrap;
        padding: 0px 12px;
        box-sizing: border-box;
    }
    
    section.master.produto-sessao .conteudo {
        flex-direction: column;
    }
    
    section.master.produto-sessao .conteudo .box.fotos-prod {
        max-width: 100%;
    }
    
    section.master.produto-sessao img#image-main {
        width: 100%;
        max-width: 100%;
    }
    
    .icon-carrinho .carrinho-interno .finalizar a {
        font-size: 12px;
        font-weight: bold;
    }
    
    .icon-carrinho .carrinho-interno .titulo {
        flex-direction: column;
    }
    
    .icon-carrinho .carrinho-interno .orderform-cart:first-child > a h3 {
        font-size: 12px;
    }

    section.master.produto-sessao .conteudo .box.descricao-prod {
        max-width: 100%;
        box-sizing: border-box;
        padding: 0px 10px;
    }

    .banner-navegacao {
        display: none;
    }
    
    .produtos-paginas .linha-ordens {flex-direction: column;align-items: center;text-align: center;}
    
    .box.quantidade-encontrada {
        margin-bottom: 10px;
    }

    .menu {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        background: #fffffff2;
        z-index: 99;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        max-height: 500px;
    }
    
    header.header-site .menu > ul {
        flex-direction: column;
        width: 100%;
        align-items: center !important;
        justify-content: space-between;
        padding: 12px 0px;
        box-sizing: border-box;
        height: 100%;
        overflow-y: scroll;
    }

    .submenu.submenu-modelos {
        position: initial !important;
    }
    
    header.header-site .menu > ul > li > a {
        max-height: 19px;
        visibility: visible !important;
    }

    .submenu-com-colecao {
        position: inherit !important;
    }

    .submenu-com-colecao .controle {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .submenu-com-colecao .box-banner a img {
        width: 100%;
        height: 100%;
    }
    
    .submenu-com-colecao .controle .box-banner {
        margin-bottom: 10px;
    }
    
    header.header-site .menu .dividor {
        display: none !important;
    }

    .institucional-descricao .box.texto {
        padding: 0px 15px !important;
    }
    
    .formulario .box input {
        width: 100%;
    }
    .formulario label {
        display: none;
    }
    textarea.mensagem {
        width: 100%;
    }
    
    .formulario .box select {
        width: 100%;
    }
    
    .botao-envia-form {
        max-width: 100%;
    }
}