.zoomWindow {
    display: none !important;
}

section.master.produto-sessao .conteudo {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    .box.fotos-prod {
        max-width: 60%;
        width: 100%;
    }
    .box.descricao-prod {
        width: 100%;
        max-width: 40%;
    }
}
section.master.produto-sessao {
    font-family: nunito;
    margin-top: 10px;
    .nome-p {
        font-size: 25px;
        color: #999999;
        font-weight: 100;
        line-height: 25px;
    }
    em.valor-por {
        font-weight: 300;
        font-size: 22px;
        color: #333333;
    }
    em.valor-dividido.price-installments {
        font-size: 12px;
        color: #4a4a49;
        display: block;
        line-height: 10px;
    }
    span.quantityText {
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        margin-bottom: 3px;
        color: #999;
        font-weight: 600;
    }
    p.preco-a-vista.price-cash {
        display: none !important;
    }
    .preco-p {
        display: block;
        padding-top: 10px;
    }
    
    .flag {
        margin: 18px 0px 5px 0px;
        font-size: 12px;
        color: #cc6633;
        line-height: 0px;
    }
    
    .flag p::after {
        content: "*";
    }
    
    .descricao-curta-p > a {
        font-weight: 900;
        font-size: 10px;
        text-decoration: none;
        color: #999999;
        display: block;
        margin-top: 10px;
    }
    
    .descricao-curta-p {
        margin: 25px 0px;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 5px;
    }
    
    em.valor-de {
        font-size: 12px !important;
        text-decoration: line-through;
        color: #999999;
    }
    
    .quantitySelector label {
        flex-direction: column;
        display: flex;
    }
    
    .quantitySelector label input {
        max-width: 100px;
        height: 38px;
        box-sizing: border-box;
        padding-left: 5px;
        color: #363636;
        border-color: #e8e8e8 !important;
        border: 1px solid;
        outline: none;
    }
    a.buy-button.buy-button-ref {
        background: #0084b6;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        padding: 15px 105px;
    }
    .comprar-p {
        display: flex;
        margin-top: 20px;
    }
    img#image-main {
        vertical-align: middle;
    }
    ul.thumbs {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul.thumbs li {
        img{
            max-width: 100%;
            vertical-align: middle;
        }
    }
    ul.thumbs {
        border-top: 1px solid #e8e8e8;
        padding: 12px 0px;
        margin-top: 12px;
        .slick-track {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px auto;
            text-align: center;
        }
        .slick-slide{
            margin: 0px 7px;
        }
        .slick-list.draggable {
            width: 100%;
            margin: 0px auto;
            text-align: center;
            display: block;
        }
    }
    .zoomPad {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .productDescriptionShort {
        font-size: 14px;
        color: #999999;
        line-height: 19px;
        padding: 12px 0px;
    }
}

body.produto section.master.colecoes {
    border-top: 1px solid #e8e8e8;
    margin-top: 5px;
}
table.group.Descricao {
    display: none !important;
}