.bannerfull{
    position: relative;
    img{
        width: 100%;
        vertical-align: middle;
        max-width: 100%;
        height: 100%;
    }
}
.bannerfull{
    .slick-track {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .slick-list.draggable {
        overflow: hidden;
    }
    ul.slick-dots {
        position: absolute;
        bottom: 28px;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    ul.slick-dots button {
        padding: 0px;
        font-size: 0px;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        border: transparent;
        position: relative;
    }
    ul.slick-dots li {
        margin: 0px 3px;
        border: none;
    }
    ul.slick-dots li.slick-active button {
        background: #fff;
    }
    span.lnr.lnr-chevron-left.slick-arrow {
        position: absolute;
        z-index: 9;
        top: 44%;
        left: 15%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }
    span.lnr.lnr-chevron-right.slick-arrow {
        position: absolute;
        z-index: 9;
        top: 44%;
        right: 15%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }
}

.sessao-banners-linha{
    .conteudo {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        .box{
            position: relative;
            &:hover{
                .nav-links{
                    display: block;
                }
            }
            .nav-links {
                position: absolute;
                top: 0px;
                left: 0px;
                border-left: 3px solid #4a83b3;
                height: 100%;
                box-sizing: border-box;
                padding-left: 20px;
                background: rgba(0, 0, 0, 0.65);
                width: 100%;
                display: none;
            }            
        }
        img{
            vertical-align: middle;
            width: 100%;
            max-width: 100%;
        }
    }
    .nav-links ul{
        list-style: none;
        margin-top: 18px;
        max-width: 80%;
        li{
            padding: 2px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            font-family: $fonte;
            span{
                color: #4a83b3;
            }
            a{
                color: #fff;
                text-decoration: none;
                font-weight: 100;
                display: block;
                width: 100%;
                font-size: 14px;
                &:hover{
                    color: #4a83b3;
                }
            }
        }
    }
    .name {
        padding-top: 20px;
        color: #fff;
        font-family: $fonte;
        font-weight: 100;
        h3{
            text-transform: uppercase;
            font-weight: 100;
            font-size: 17px;
        }
        p{
            font-size: 11px;
        }
    }
}
section.master.banner-de-linha-footer{
    margin-bottom: 40px;
    @media(max-width: 550px){
        margin: 0px !important;
    }
    img{
        vertical-align: middle;
        width: 100%;
        max-width: 100%;
    }
}

section.master.destaques {
    margin: 20px 0px;
    .slick-track {
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: center;
    }
    .slick-list.draggable {
        overflow: hidden;
        max-width: 100%;
    }
    .slick-slide img {
        max-width: 100%;
        width: 100%;
    }
    .slick-slide {
        margin: 0px;
    }
    .slick-slide.slick-active {
        margin: 0px 30px;
    }
    .slick-slide.slick-active:first-child {
        margin: 0px;
    }
    .slick-slide.slick-active:last-child {
        margin: 0px;
    }
}

section.master.destaques .conteudo {
    position: relative;
    span.lnr.lnr-chevron-left.slick-arrow {
        position: absolute;
        top: 24px;
        left: 6%;
        cursor: pointer;
        z-index: 1;
    }
    span.lnr.lnr-chevron-right.slick-arrow {
        position: absolute;
        top: 24px;
        right: 6%;
        cursor: pointer;
        z-index: 1;
    }
}