.colecao .prateleira {
    position: relative;
    & ul {
        list-style: none;
    }
    & > h2 {
        font-family: $fonte;
        font-size: 23px;
        font-weight: 100;
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px 0px;
    }
    .slick-track {
        display: flex;
        align-items: stretch;
        justify-content: center;
        overflow: hidden;
    } 
    span.lnr.lnr-chevron-left.slick-arrow {
        position: absolute;
        left: 0px;
        top: 25px;
        z-index: 1;
        cursor: pointer;
    } 
    span.lnr.lnr-chevron-right.slick-arrow {
        position: absolute;
        right: 0px;
        top: 25px;
        z-index: 1;
        cursor: pointer;
    }
    .slick-list.draggable {
        max-width: 100%;
        overflow: hidden;
    }
}

