.newsletter-site {
    display: flex;
    align-items: center;
    justify-content: space-around;
    input.nome {
        width: 25%;
        box-sizing: border-box;
        height: 40px;
        padding-left: 15px;
        background: #f5f5f5;
        border: none;
        outline: none;
    }
    h3 {
        font-family: $fonte;
        font-weight: 400;
        font-size: 14px;
    }
    input.email {
        width: 25%;
        box-sizing: border-box;
        height: 40px;
        padding-left: 15px;
        background: #f5f5f5;
        border: none;
        outline: none;
    }
    .enviar-news {
        font-family: $fonte;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
    }
}

section.master.footer-site .divisor {
    background: #e8e8e8;
    width: 100%;
    height: 2px;
    margin: 20px 0px;
}

.footer-insitucional {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-family: $fonte;
    ul {
        list-style: none;
    }
    aside, nav{
        h4{
            font-weight: 400;
            text-transform: uppercase;
            border-left: 4px solid #4a83b3;
            padding-left: 20px;
        }
        a{
            text-decoration: none;
            font-size: 13px;
            color: #666666;
            &:hover{
                color: #1976d2;
            }
        }
        ul{
            padding-left: 24px;
            margin-top: 20px;
            li{
                padding: 2px 0px;
            }
            &.flex{
                display: flex;
                align-items: center;
                li{
                    margin: 0px 5px;
                }
            }
        }
        p{
            font-size: 15px;
            color: #666;
            span{
                font-size: 11px;
            }
        }
    }
}

.copyright .content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-family: nunito;
    color: #989898;
    text-transform: uppercase;
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        text-align: left;
    }
    .pagamentos, .selos-seguranca, .info {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-size: 12px;
            margin-right: 10px;
        }
    }
     ul li {
        margin-left: 20px;
    }
}