header.fixed.header-site {
    box-shadow: 0px 2px 17px #00000014;
}
header.header-site{
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #fff;
    left: 0px;
    top: 0px;
    .acesso-loja{
        margin-top: 37px;
        margin-bottom: 16px;
        ul {
            list-style: none;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: flex-end;
        }
        ul li {
            margin: 0px 5px;
            cursor: pointer;
        }
        ul li:last-child {
            margin-right: 0px;
        }
        .busca {
            position: absolute;
            right: -5px;
            top: -4px;
            box-sizing: border-box;
            width: 0px;
            transition: all 0.3s;
            visibility: hidden;
            &.active{
                width: 250px !important;
                transition: all 0.3s;
                visibility: visible!important;
            }
            input.busca-frame {
                background: #e8e8e8;
                border: none;
                height: 32px;
                box-sizing: border-box;
                width: 100%;
                outline: none;
                padding-left: 13px;
            }
        }
    }
    .logo-loja {
        position: relative;
        text-align: center;
        margin: 0px auto;
        a {
            display: inline-block;
            position: absolute;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0px auto;
            top: 0px;
            left: calc(50% - 76px);
            img{
                background: #fff;
                padding: 0px 20px;
            }
        }
    }
    .menu{
        .dividor {
            height: 20px;
            width: 1px;
            background: #ccc;
            position: relative;
            top: -5px;
        }
        & > ul {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            list-style: none;
        }
        & > ul > li{
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
            &.borda {
                border-right: 1px solid #dfdfdf;
                padding-right: 18px;
            }
            &:hover{
                & > a{
                    color: #1976d2;
                }
                .submenu{
                    @media(min-width: 720px){
                        display: block;
                    }
                    transition: all .2s linear;
                    -webkit-transition: all .2s linear;
                    -moz-transition: all .2s linear;
                    -ms-transition: all .2s linear;
                    -o-transition: all .2s linear;
                }
            }
        }
        & > ul > li > a{
            font-family: $fonte;
            text-decoration: none;
            font-size: 15px;
            font-weight: 400;
            color: #363636;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }
    .menu-loja {
        border-top: 1px solid #dfdfdf;
        padding-top: 28px;
    }  
}

.resultado {
    background: #fff;
    z-index: 1;
    position: relative;
    width: 308px;
    overflow: scroll;
    max-height: 440px;
    overflow-x: hidden;
    /* width */
    &::-webkit-scrollbar {
    width: 2px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
    background: #000; 
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
    background: #000; 
    }
    .produto-search a {
        display: flex;
        text-decoration: none;
        font-family: nunito;
        font-weight: 100;
        align-items: center;
        color: #363636;
        &:hover{
            color: #1976d2;
        }
    }
    .produto-search h2 {
        font-size: 11px;
        font-weight: 300;
        padding-left: 10px;
        box-sizing: border-box;
    }
    .produto-search {
        border-bottom: 1px solid #f1f1f1;
    }
    .produto-search {
        padding: 5px 35px;
        min-width: 240px;
    }
}

