.submenucliente {
    position: absolute;
    background: #f5f5f5;
    top: 32px;
    width: 250px;
    text-align: center;
    right: calc(0px - 34px);
    display: none;
    z-index: 1;
    box-shadow: 0px 5px 4px #00000012;
    .conteudo{
        font-family: $fonte;
        color: #363636;
        padding: 20px;
        box-sizing: border-box;
       display: flex;
       align-items: center;
       justify-content: center;
        flex-direction: column;
        nav.acesso-cliente {
           display: flex;
           align-items: center;
           justify-content: center;
            flex-direction: column;
            padding-top: 10px;
            a{
                color: #363636;
                text-decoration: none;
                font-size: 14px;
                padding: 5px 10px;
                margin: 2px 0px;
                &:hover{
                    color: #1976d2 !important;
                }
            }
        }
    }
}