.submenu{
    display: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.submenu-com-colecao{
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0px;
    background: #f2f2f3;
    top: 140px;
    padding: 35px 0px;
    .controle{
        max-width: 1280px;
        margin: 0px auto;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    .box-banner{
        a{
            outline: none;
            display: flex;
            height: 100%;
            align-items: flex-end;
            text-align: center;
            justify-content: center;
            img{
                max-width: 100%;
                &:hover {
                    transform: scale(1.02);
                    transition: all 0.5s;
                }
            }
        }
    }
}

.submenu.submenu-modelos {
    position: absolute;
    z-index: 99;
    background: #00000021;
    width: 100%;
    left: 0px;
    top: 140px;
    .controle {
        display: block;
        max-width: 1280px;
        margin: 0px auto;
        li{
            display: flex;
            width: 100%;
            height: 100%;
            transition: initial !important;
            -webkit-transition: inherit !important;
            color: #363636;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            a{
                display: flex;
                width: 100%;
                height: 100%;
                transition: initial !important;
                -webkit-transition: inherit !important;
                color: #363636;
                align-items: center;
                justify-content: space-between;
                text-decoration: none;
            }
        }
        a {
            transition: initial !important;
            -webkit-transition: inherit !important;
            color: #363636;
            text-decoration: none;
        }
        & > .box{
            background-position: right center;
            background-repeat: no-repeat;
            position: relative;
        }        
        & > .box > ul {
            max-width: 360px;
            background: #fff;
            box-sizing: border-box;
            list-style: none;
            & li{
                padding: 12px 30px;
                border-bottom: 1px solid #dadada;
                box-sizing: border-box;
                &:last-child{
                    border-bottom: none;
                }
                &:hover {
                    background: #4a83b3;
                    a, p, span{
                        color: #fff;
                    }
                    .segundo-menu{
                        @media(min-width: 720px){
                            display: block;
                        }
                        a, p, span{
                            color: #363636;
                        }
                    }
                }
            }
            span.lnr{
                color: #1976d2;
            }
            p {
                color: #363636;
                font-family: $fonte;
                font-size: 15px;
                text-align: left;
                span{
                    font-size: 12px;
                    line-height: 6px;
                    display: block;
                }
            }
        }
    }
    .segundo-menu {
        position: absolute;
        top: 0px;
        height: 100%;
        left: calc(0px + 360px);
        width: calc(100% - 360px);
        display: none;
    }
}

.box-line.links {
    height: 100%;
    max-width: 365px;
    background: #ffffffde;
    li.link-preto:hover{
        a, span, p{
            color: #fff !important;
        }
    }
    li a {
        font-family: nunito;
        font-size: 14px;
    }
    img.absolute-img {
        position: absolute;
        bottom: 50px;
        left: 130px;
    }
}

.box-line.infos {
    background: #fff;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 15px 30px !important;
    box-sizing: border-box;
    font-family: nunito;
    h4:hover{
        a, span, p{
            color: #4a83b3 !important;
        }
    }
    .box{
        &:last-child {
            flex-grow: 2;
        }
        a{
            &:hover{
                a, span, p{
                    color: #4a83b3 !important;
                }
            }
        }
        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            li {
                border-bottom: 0px !important;
                flex-direction: column;
                width: 100%;
                padding: 0px !important;
                line-height: 15px;
                font-weight: 100;
                &:hover{
                    a, span, p{
                        color: #4a83b3 !important;
                    }
                }
                a{
                    border-bottom: 0px !important;
                    flex-direction: column;
                    width: 100%;
                    padding: 0px !important;
                    line-height: 15px;
                    font-weight: 100;
                    display: flex;
                }
                span{
                    font-weight: 500;
                }
            }
        }
        li{
            background: transparent !important;
        }
    }
}