li.icon-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-carrinho{
    p.qtd-cart {
        font-family: nunito;
        font-size: 12px;
        color: #1c7fce;
        border-radius: 130px;
        text-align: center;
        line-height: 20px;
        margin-left: 5px;
    }
    position: relative;
    .carrinho-interno {
        position: absolute;
        right: 0px;
        top: 30px;
        background: #f5f5f5;
        width: 520px;
        font-family: nunito;
        font-weight: 100;
        display: none;
        box-shadow: 0px 5px 4px #00000012;
        padding: 24px 30px;
        box-sizing: border-box;
        z-index: 1;
        .infocarrinho {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 12px;
        }
        .infocarrinho h5 {
            font-weight: 100;
            font-size: 14px;
        }
        .finalizar a {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            color: #4a83b3;
            cursor: pointer;
            &:hover{
                color: #1976d2;
            }
        }
        .nome {
            max-width: 145px;
        }
        .orderform-cart > a {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            font-size: 12px;
            text-decoration: none;
            color: #363636;
        }
        .orderform-cart:first-child{
            margin-bottom: 0px;
            padding-bottom: 2px;
            & > a h3 {
                text-transform: uppercase;
                margin-bottom: 15px;
                display: block;
                visibility: visible;
                line-height: initial;
                max-height: initial;
            }
        }
        .orderform-cart:last-child{
            margin-bottom: 2px;
        }
        .orderform-cart > a h3 {
            text-transform: uppercase;
            margin-bottom: 15px;
            display: block;
            visibility: hidden;
            line-height: 0px;
            max-height: 1px;
            margin: 0px;
        }
        .titulo {
            display: flex;
        }
        
        .box.foto {
            padding-right: 8px;
        }
        
        .precos {
            padding: 0px 5px;
            text-align: center;
        }
        
        .quantidades {
            padding: 0px 5px;
            text-align: center;
        }
        
        .excluir-produtos {
            padding: 0px 5px;
            text-align: center;
        }
        
        span.lnr.lnr-cross {
            cursor: pointer;
        }
        
        .orderform-cart {
            border-bottom: 1px solid #ccc;
            padding: 8px 0px;
            margin-bottom: 10px;
        }
        .fechar-carrinho {
            position: absolute;
            right: 0px;
            top: -32px;
            background: #fff;
            font-size: 25px;
            color: #888;
            line-height: 23px;
            padding: 2px 0px;
            cursor: pointer;
        }
        .carrinho-vazio {
            text-align: center;
            a {
                display: inline-block;
                margin: 0px auto 15px auto;
                text-align: center;
                border: 2px solid #363636;
                color: #363636;
                text-transform: uppercase;
                text-decoration: none;
                width: 220px;
                box-sizing: border-box;
                padding: 6px 0px;
                font-size: 13px;
                font-weight: bold;
                text-decoration: underline;
            }
            h3 {
                text-align: center;
                text-transform: uppercase;
                font-weight: 100;
                padding: 12px;
                color: #363636;
                font-size: 14px;
            }
        }
    }
}