.prateleira li {
    max-width: 320px;
    outline: none;
    &:hover .foto-hover {
        display: block !important;
    }
    .produto-prateleira {
        position: relative;
    }
    .produto-prateleira > a {
        color: #868686;
        font-family: $fonte;
        font-size: 14.5px;
        text-decoration: none;
        text-align: center;
        outline: none;
    }
    .preco-linha {
        display: flex;
        align-items: baseline;
        justify-content: center;
        text-align: center;
    }
    .preco-linha span.old-price {
        margin-right: 10px;
        text-decoration: line-through;
        font-size: 12px;
        color: #868686;
    }
    span.best-price {
        color: #363636;
        font-size: 16px;
        font-weight: 600;
    }
    span.installment {
        margin-right: 10px;
        font-size: 12px;
        color: #868686;
        line-height: 8px;
        display: block;
        text-align: center;
    }
    img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }
    .foto {
        position: relative;
    }
    .foto-hover {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        display: none;
    }
    .adicionar-carrinho {
        text-align: center;
        padding: 13px 0px;
        min-height: 24px;
    }
    .adicionar-carrinho a {
        visibility: hidden;
        opacity: 0;
        font-size: 0;
        color: #1976d2;
        font-weight: 700;
        text-decoration: none;
        font-family: $fonte;
    }
    &:hover .adicionar-carrinho a{
        visibility: visible!important;
        opacity: 1!important;
        font-size: 13px;
        text-transform: uppercase;
        outline: none;
    }
}