section.master {
    width: 100%;
    margin: 0px auto;
    .content{
        max-width: 1280px;
        margin: 0px auto;
        width: 100%;
    } 
}

*, html, body, a, img, ul, li, h1, h2, h3, h4, h5, h6, aside, label, fieldset, select, input, p, option, nav, form, table, header, footer{
    margin: 0px;
    padding: 0px;
}

.mobile{
    display: none;
    @media(max-width: 550px){
        display: block;
    }
}

.desktop{
    display: block;
    @media(max-width: 550px){
        display: none;
    }
}

a{
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

body{
    overflow-x: hidden;
    margin-top: 140px;
}

div#ajaxBusy{
    position: fixed;
    bottom: 1px;
    left: 1px;
}

div#returnToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-family: nunito;
}

div#returnToTop a {
    text-transform: uppercase;
    font-size: 11px;
    color: #1976d2;
}